:root{
 --primary: #0d6efd;
  --secondary: #212529;
  --background: #194078;
  --accent: #198754;
  --text:white;
}
body {
  margin: 0;
}

.dashboard {
  display: flex;
  min-height: calc(100vh - 56px); 
}

 /* navbar / */
.navbar{
    background: #194078;
}
/* / Sidebar / */
.sidebar {
  width: 250px;
  background-color: #194078;
;
  display: flex;
  flex-direction: column;
}

/* / Push logout to bottom / */
.logout {
  margin-top: auto;
  border-top: 1px solid #495057;
}

/* / Links hover / */
.sidebar .nav-link {
  border-radius: 6px;
  padding: 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #3590ec;
}

/* / Content */ */
.content {
  flex: 1;
  background-color: #f8f9fa;
}

