:root{
 --primary: #0d6efd;
  --secondary: #212529;
  --background: #194078;
  --accent: #198754;
  --text:white;
}
body {
  margin: 0;
}

.dashboard {
  display: flex;
  min-height: calc(100vh - 56px); 
}

 /* navbar / */
.navbar{
    background: #194078;
}
/* / Sidebar / */
.sidebar {
  width: 250px;
  background-color: #194078;
;
  display: flex;
  flex-direction: column;
}

/* / Push logout to bottom / */
.logout {
  margin-top: auto;
  border-top: 1px solid #495057;
}

/* / Links hover / */
.sidebar .nav-link {
  border-radius: 6px;
  padding: 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #3590ec;
}

/* / Content */ */
.content {
  flex: 1;
  background-color: #f8f9fa;
}

#studentsTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px; /* space between rows */
    background-color: #08164a;
    border-radius: 12px;
}

#studentsTable thead th {
    background-color: #08164a;
    color: #ffffff;
    text-align: left;
    padding: 14px;
    border: none;
    font-size: 16px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#studentsTable tbody tr {
    border-radius: 12px;
    background-color: #ffffff
}

#studentsTable tbody tr td {
    padding: 16px;
    border: none;
}

/* #studentsTable tbody tr td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
} */

/* #studentsTable tbody tr td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
} */

.badge {
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
}

.bg-success {
    background-color: #4caf50 !important;
    color: #fff;
}

.bg-danger {
    background-color: #e63946 !important;
    color: #fff;
}

#studentsTable i {
    color: #ffffff;
    font-size: 18px;
    margin-right: 12px;
    cursor: pointer;
}

#studentsTable i:hover {
    color: #4da3ff;
}

#studentsTable {
    background-color: #020C48 !important;
}

/* Kill Bootstrap background completely */
#studentsTable > :not(caption) > * > * {
    background-color: transparent !important;
}

#studentsTable tbody tr {
    background-color: #183862;
}

#studentsTable tbody td {
    background-color: #183862;
}

.message-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745; /* green for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none; /* hidden by default */
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 9999;
    transition: opacity 0.3s ease;
}